<!-- <div class="form-group">
  <label for="dogsearch">Dog Search</label>
  <input
    type="text"
    class="form-control"
    name="dog search"
    id="dogsearch"
    aria-describedby="helpId"
    [(ngModel)]="searchStr"
    (keyup.enter)="search(searchStr)"
    placeholder="Search dogs..."
  />
  <small id="helpId" class="form-text text-muted">Help text</small>
</div> -->
<div
  fxLayout="row nowrap"
  fxLayoutAlign="start center"
  fxLayoutGap="5px"
  class="input-group form-control text-gray-500 rounded-full border border-solid border-gray-200 shadow-md hover:shadow-xl focus:shadow-xl px-2"
>
  <span class="text-white d-flex search-icon-container bg-indigo-700">
    <i class="fi fi-br-search mt-1"></i>
  </span>
  <input
    placeholder="Search breed, breed type or origin"
    id="typeahead-template"
    type="text"
    class="border-0 focus:outline-none focus:ring-0 w-100 py-1 placeholder:font-bold placeholder:text-gray-800"
    [(ngModel)]="searchStr"
    [ngbTypeahead]="search_ngb"
    [resultTemplate]="rt"
    [inputFormatter]="formatter"
    (selectItem)="route_to_breed($event.item)"
  />
</div>

<ng-template #rt let-r="result" let-t="term">
  <button class="text-left">
    <img [src]="r.image.url" class="me-1" style="width: 20px" />
    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
    <small>{{ r.bred_for }}</small>
  </button>
</ng-template>
