<div fxLayout="column" fxLayoutGap="8rem" class="tw-bg-slate-50">
  <section class="hero-bg">
    <div class="container-fluid tw-max-w-screen-2xl tw-py-12">
      <div
        fxLayout.gt-sm="row"
        fxLayout.lt-md="column"
        fxLayoutGap.lt-md="2.5rem"
        fxLayoutGap.gt-sm="1rem"
        fxLayoutAlign="space-evenly center"
      >
        <div
          fxFlex.gt-sm="38"
          class="tw-max-w-md"
          [ngClass.lt-md]="'tw-text-center'"
          fxLayout="column"
          fxLayoutAlign.gt-sm="center start"
          fxLayoutAlign.lt-md="center center"
        >
          <p class="tw-text-md tw-text-amber-500 tw-font-semibold mb-1">Dog Fact</p>
          <h1
            *ngIf="fact"
            class="tw-leading-relaxed tw-font-bold"
            [ngClass]="{
              'tw-text-2xl': fact.length > 180,
              'tw-text-3xl': fact.length <= 180 && fact.length > 90,
              'tw-text-4xl': fact.length <= 90
            }"
          >
            {{ fact }}
          </h1>
          <div class="mt-3" fxLayout="row" fxLayoutGap="15px">
            <button class="action-btn btn-shadow-amber py-2 px-3" (click)="getRandomFact()">Next Fact</button>
            <button class="secondary-btn tw-bg-fuchsia-100 btn-shadow px-3 py-2">See Furry Friends</button>
          </div>
        </div>
        <div class="tw-max-w-xl">
          <img
            class=""
            [src]="
              'https://firebasestorage.googleapis.com/v0/b/dog-app-51de5.appspot.com/o/illustrations%2Fcasual-life-3d-woman-taking-funny-photo-with-dog%20(1).png?alt=media&token=15069d56-329e-49ab-9b6d-bd743c79ed07'
            "
          />
          <!-- Illustration by <a href="https://icons8.com/illustrations/author/zD2oqC8lLBBA">Icons 8</a> from <a href="https://icons8.com/illustrations">Ouch!</a> -->
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid tw-max-w-screen-2xl">
      <app-dog-tabs [breeds]="breeds"></app-dog-tabs>
    </div>
  </section>
</div>
<app-loader [isLoading]="isLoading"></app-loader>
